/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary: #007bff;
  --clr-primary-dark: #382873;
  --clr-secondary: #6c757d;
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --clr-blue: #007bff;
  --clr-indigo: #6610f2;
  --clr-purple: #6f42c1;
  --clr-pink: #e83e8c;
  --clr-red: #dc3545;
  --clr-orange: #fd7e14;
  --clr-yellow: #ffc107;
  --clr-green: #28a745;
  --clr-teal: #20c997;
  --clr-cyan: #17a2b8;
  --clr-white: #fff;
  --clr-gray: #6c757d;
  --clr-gray-dark: #343a40;
  --clr-success: #28a745;
  --clr-info: #17a2b8;
  --clr-warning: #ffc107;
  --clr-danger: #dc3545;
  --clr-light: #f8f9fa;
  --clr-dark: #343a40;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img:not(.hero-img) {
  width: 100%;
  display: block;
} */

h1,
h2,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
h4 {
  font-size: 1rem;
}
body {
  font-size: 1rem;
}
h1,
h2,
h4 {
  line-height: 1;
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-dark);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary);
}
.section {
  padding: 5rem 0;
}
/* display flex */
.flex {
  display: flex;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    flex-direction: row;
  }
}
.custom-bg {
  background: var(--clr-primary-dark);
  color: var(--clr-white);
}
.nav-logo {
  color: var(--clr-white);
}
.title {
  position: absolute;
  top: 2.5rem;
  left: 25%;
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff-primary);
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  .title {
    top: 1.6rem;
    left: 35%;
    font-size: 2.5rem;
  }
}

.custom-search-btn:hover {
  background: var(--clr-white);
  color: var(--clr-primary-dark);
}
.hero-img {
  background: transparent;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: inline-block;
  margin-bottom: 0.8rem;
}
.hero-container {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--clr-blue);
  transition: var(--transition);
  text-align: center;
}
.hero-container:hover {
  rotate: -5grad;
}
.hero-text {
  text-transform: capitalize;
  padding: 1.5rem 1rem;
}
hr {
  border-top: 3px solid #bbb;
}
.hero-btn {
  text-align: center;
}
.footer {
  background: var(--clr-primary-dark);
  text-align: center;
  padding: 2rem;
}
.social-icons {
  justify-content: center;
}
.social-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--clr-white);
  transition: var(--transition);
}

.social-icon:hover {
  background: var(--clr-white);
  color: var(--clr-primary-dark);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
}

/* .dd {
  height: 8vh;
} */

.forgot-passwd {
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 30rem;
}
.login {
  display: inline-block;
  margin-left: 0.5rem;
}
.passwd_ch_inp {
  display: inline-block;
  margin-bottom: 12rem;
}
.ch-passwd {
  margin-bottom: 1.5rem;
}
.ch-passwd-form {
  margin-bottom: 5rem;
}
.ch-passwd-success {
  color: #28a745;
}
.ft {
  margin-bottom: 39rem;
}
.reset-passwd {
  margin-bottom: 30rem;
}
.reset-confirm {
  margin-bottom: 22rem;
}
