{% extends "base.html" %} {% load static %}
{% block title %} LOGIN {% endblock title %} {% block content %}
<section class="section">
  <div class="section-center flex">
    <!-- first content -->
    <div>
      <article class="hero-container">
        <img
          src="{% static 'images/startappli.png' %}"
          alt=""
          class="hero-img"
        />
        <hr />
        <p class="hero-text">register with your ghana card</p>
        <a href="{% url 'signup' %}"><button class="btn hero-btn">register</button><a/>
      </article>
    </div>
    <!-- end of first content -->
    <!-- second content -->
    <div>
      <article class="hero-container">
        <img src="{% static 'images/login.jpeg' %}" alt="" class="hero-img" />
        <hr />
        <p class="hero-text">login with your credentials to vote</p>
               <a href="{% url 'login' %}"><button class="btn hero-btn">login</button><a/>

      </article>
    </div>
    <!-- end of second content -->
    <!-- third content -->
    <div>
      <article class="hero-container">
        <img src="{% static 'images/status.jpeg' %}" alt="" class="hero-img" />
        <hr />
        <p class="hero-text">check / confirm eligibility...</p>
        <a href="{% url 'logout' %}"><button class="btn hero-btn">check status</button><a/>

      </article>
    </div>
    <!-- end of third content -->
    <!-- fourth content -->
    <div>
      <article class="hero-container">
        <img src="{% static 'images/pin.jpeg' %}" alt="" class="hero-img" />
        <hr />
        <p class="hero-text">get your secret voter's number</p>
        <a href="{% url 'login' %}"><button class="btn hero-btn">get voter's id</button><a/>
      </article>
    </div>
    <!-- end of fourth content -->
  </div>
</section>

{% endblock content %}
