{% extends "base.html" %} {% load static %}
{% block title %}
REGISTER {% endblock title %} {% block content %}
<section class="reg-section">
  <div class="reg-center">
    <article class="main-nav">
      <!-- first item -->
      <div class="nav-items">
        <a href="#" class="nav-icon"><i class="fa fa-user"></i></a>
        <span class="nav-text">bio information</span>
      </div>
      <!-- end of first item -->

      <!-- second item -->
      <div class="nav-items">
        <a href="#" class="nav-icon"><i class="fa fa-id-card"></i></a>
        <span class="nav-text">indentification</span>
      </div>
      <!-- end of second item -->

      <!-- third item -->
      <div class="nav-items">
        <a href="#" class="nav-icon"><i class="fa fa-home"></i></a>
        <span class="nav-text">resdential address</span>
      </div>
      <!-- end of third item -->

      <!-- fourth item -->
      <div class="nav-items">
        <a href="#" class="nav-icon"><i class="fa fa-mortar-board"></i></a>
        <span class="nav-text">educational background</span>
      </div>
      <!-- end of fourth item -->
    </article>
  </div>
</section>

{% endblock content %}
